# Dependencies
node_modules/
bower_components/

# Build
dist/
build/

# Runtime-data
pids/
*.pid
*.seed
*.pid.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

#environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Testing
coverage/
.nyc_output/

# Misc
.eslintcache
.parcel-cache/
.cache/
.next/
out/
turbo/
.storybook/

# TypeScript
*.tsbuildinfo

#Server
Server/node_modules/
Server/config.js

# Git
.git/
*.swp